# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs
[Bb]in/
[Oo]bj/
[Ll]ogs/
[Ll]ibrary/
[Tt]emp/
*.cache
*.pdb
*.mdb

# JetBrains Rider
.idea/

# Unity/BepInEx extras
*/BepInEx/plugins/*
!*/BepInEx/plugins/README.md

# OS junk
.DS_Store
Thumbs.db
